<!-- modal for update -->
<div class="modal fade update-pieku" id="updateModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Update</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<%= form_for :pieku, :html => {:id => "update-pieku"} do |f| %>
					  <%= hidden_field_tag class: 'update-id'  %>
					  <%= f.text_field :title, placeholder: "Title", class: "update-title" %><br>
					  <%= f.text_field :line_1, placeholder: "First line", class: "update-line1" %><br>
					  <%= f.text_field :line_2, placeholder: "Second line", class: "update-line2" %><br>
					  <%= f.text_field :line_3, placeholder: "Third line", class: "update-line3" %><br>
					  <%= f.submit "Save Pieku", id: "update-pieku" %>
					<% end %>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->