<% @piekus.each do |pieku| %>
  <div class="pieku">
    <% if current_user == pieku.user %>
      <%= link_to "", pieku, method: :delete, class: "glyphicon glyphicon-remove delete-post" %>
      <%= link_to "", edit_pieku_path(pieku), class: "glyphicon glyphicon-pencil edit-post" %>
    <% end %>
    <h2 id="post-title"><%= pieku.title %></h2>
    <p><%= pieku.user.full_name %></p>
    <p class="post-body"><%= pieku.line_1 %></p>
    <p class="post-body"><%= pieku.line_2 %></p>
    <p class="post-body"><%= pieku.line_3 %></p>
    <p><%= link_to "View Pieku", pieku_path(pieku) %></p>
  </div>
<% end %>