<h1>New Pieku</h1>
<%= form_for @pieku do |f| %>
  <%= f.text_field :title, placeholder: "Title" %><br>
  <%= f.text_field :line_1, placeholder: "First line" %><br>
  <%= f.text_field :line_2, placeholder: "Second line" %><br>
  <%= f.text_field :line_3, placeholder: "Third line" %><br>
  <hr>
  <%= f.submit "Save Pieku" %>
<% end %>