<div class="col-md-12">
	<div class="col-md-3"></div>
		<div class="col-md-6 text-center pieku show">
			<% if current_user && current_user.piekus.include?(@pieku) %>
			  <p><%= link_to "", edit_pieku_path(@pieku), class: "glyphicon glyphicon-remove delete-post"  %></p>
			  <p><%= link_to "", @pieku, method: :delete, class: "glyphicon glyphicon-pencil edit-post" %></p>
			<% end %>
			<h1 id="post-title"><%= @pieku.title %></h1>
			<p class="post-body"><%= @pieku.line_1 %></p>
			<p class="post-body"><%= @pieku.line_2 %></p>
			<p class="post-body"><%= @pieku.line_3 %></p>
			<p><%= link_to "Show All", root_path %>
		</div>
	<div class="col-md-3"></div>
</div>

