<div class="col-sm-6 new">
	<h2 class="form_title">Sign Up</h2>
	<p>
		<%= form_for @user do |f| %>
			<%= f.text_field :first_name, placeholder: "First Name" %><br>
			<%= f.text_field :last_name, placeholder: "Last Name" %><br>
			<%= f.email_field :email, placeholder: "Email" %><br>
			<%= f.password_field :password, placeholder: "Password" %><br>
			<%= f.submit "Sign Up" %>
		<% end %>
	</p>
</div>
