<h1>Profile Page</h1>
<div>
  <p><%= current_user.first_name %></p>
  <p><%= current_user.last_name %></p>
  <p><%= current_user.email %></p>
</div>

<% if current_user.piekus.any? %>
  <h3>My Piekus</h3>
  <% current_user.piekus.each do |pieku| %>
    <p><%= pieku.title %></p>
    <p><%= pieku.line_1 %></p>
    <p><%= pieku.line_2 %></p>
    <p><%= pieku.line_3 %></p>
    <p><%= link_to "Delete", pieku, method: :delete %></p>
    <p><%= link_to "Edit", edit_pieku_path(pieku), class: "title_link" %></p>
  <% end %>
<% else %>
  <h4>You haven't created any delicious Piekus yet!</h4>
<% end %>
<hr>
<%= link_to "Add New Pieku", new_pieku_path %>